


<link rel="stylesheet" href="assets/animate/animate.css" />
<link rel="stylesheet" href="assets/gallery/blueimp-gallery.min.css">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="assets/slidingheader/layout-simple.css" />



<link rel="stylesheet" href="assets/style.css">


		

			
			
			<div class="container">
				<h2>Portfolio</h2>
				<h3>Voici quelques photo de portrait réalisé</h3>
				<div class="row">


					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/3.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 1</h3> <a href="images/portfolio/3.jpg" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>


					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/4.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 1</h3> <a href="images/portfolio/4.jpg" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>

					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/6.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 2</h3> <a href="images/portfolio/6.jpg" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>

					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/7.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 2</h3><a href="images/portfolio/7.jpg" title="Model : Rakib Hernandez Sheikh" class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>

					<!--div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/8.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 2</h3> <a href="images/portfolio/8.jpg" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div-->

					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/9.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 2</h3> <a href="images/portfolio/9.jpg" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>

					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/10.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Session 2</h3> <a href="images/portfolio/10.jpg" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					
					<!--Nature -->
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00430.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00430.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00443.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00443.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>					
					


					
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00493.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00493.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00484.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00484.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00515.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00515.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00521.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00521.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>

					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00519.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00519.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC00524.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting Nature</h3> <a href="images/portfolio/DSC00524.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					
					<!-- Casting -->
					
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC01090.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting pour casting</h3> <a href="images/portfolio/DSC01090.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC01091.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting pour casting</h3> <a href="images/portfolio/DSC01091.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC01103.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting pour casting</h3> <a href="images/portfolio/DSC01103.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
					<div class="col-sm-4 fadeInUp wowload">
						<div class="gallery-items">
						<img class="img-responsive"  src="images/portfolio/thumbnail/DSC01133.jpg" alt="item01"/>						
						<div class="caption"><h3>Shooting pour casting</h3> <a href="images/portfolio/DSC01133.JPG" title="Model : Scotty  " class="gallery-image btn btn-default" data-gallery>View Details</a></div>
						</div>
					</div>
				</div>
			</div>
			

				
		








<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>





<!-- jquery -->
<script src="assets/jquery.js"></script>

<!-- wow script -->
<script src="assets/wow/wow.min.js"></script>

<!-- slider -->
<script src="assets/slidingheader/classie.js"></script>


<!-- jquery mobile -->
<script src="assets/mobile/touchSwipe.min.js"></script>


<!-- jquery mobile -->
<script src="assets/respond/respond.js"></script>

<!-- gallery -->
<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="assets/script.js"></script>